@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
    margin: 0 auto;
}

body {
    width: 1600px;
}

.header {
    width: 100%;
    height: 95px;
    position: absolute;
    align-items: center;
    justify-content: center;
}

.header_menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 926px;
}

.header_menu_link a {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}

.header_menu_links_left {
    display: flex;
    width: 246px;
    margin-right: 0;
    justify-content: space-between;
}

.header_menu_links_rigth {
    display: flex;
    width: 246px;
    margin-left: 0;
    justify-content: space-between;
}

.header_menu_links_rigth div {
    margin-left: 34px;
}

.header_menu_link img {
    width: 44px;
    height: 45px;
}

.header_menu_link.logo {
    margin-left: 64px;
    margin-right: 64px;
}

.first_block {
    background-image: url('./assets/bg-image.png');
    width: 1600px;
    height: 744px;
}